<!doctype html>
<html>
    <head>
        <title>Django-React Todos</title>
        <script>
            window.INITIAL_DATA = {
            {% if latest_todos %}
                todos: [
                    {% for todo in latest_todos %}
                        { text: "{{ todo.text }}" }
                    {% endfor %}
                ]
            {% else %}
                todos: []
            {% endif %}
            }
        </script>
    </head>
    <body>
        <h1>To do:</h1>
        <div data-component="TodoList"></div>
        <!--
            TODO here:
            Use localhost:3001/ only in development.
            Use /static/assets/ in production.
        -->
        <script src="http://localhost:3001/vendor.js"></script>
        <script src="http://localhost:3001/todos.js"></script>
    </body>
</html>

